<h1>Our categories</h1>

<table class="table">
  <tr>
    <th>название</th>
    <th></th>
    <th></th>
  </tr>
  <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
        <td><%= link_to 'Delete', [:admin, category], method: :delete, confirm: 'Are you sure?' %></td>
      </tr>
  <% end %>
</table>

<div><%= link_to 'Create new category', new_admin_category_path, :class => 'btn' %></div>